.App {
  height: 100vh;
}

.App-header-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 300px; 
  color: white;
}

.App-logo {
  display:flex;
  align-items: center;
}
.App-title {
  color: black;
  margin: 0px 5px 0px 5px;
}

.App-title-hidden {
  display: none;
  position:absolute;
}

.App-navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0;
  padding-left: 0.5em;
}

.App-bars-container {
  display:flex;
}

.App-bars-container a {
  padding: 0;
}

.App-user-dropdown a{
  padding:0;
  padding-right: 0.5em;
}

.dropdown-toggle::after {
  display: none;
}

hr {
  border: 0;
  height:5px;
  background-color: #343a40;
  margin: 0;
}

.App-header-copy {
  text-align: center;
  position: relative;
  top: 15%;
}

.App-header-title {
  font-size: 1.75em;
}

.App-grey {
  color: grey;
  font-size: 1.5em;
}

.App-background-white {
  background: white;
}

.App-cable-provider-panel {
  text-align: center;
  margin: 2em 0 2em 0;
}

.App-cable-provider-heading {
  font-size: 1.75em;
  font-weight: 800;
  color: #9ab878;
}

.App-cable-images {
  width: 100%;
}

.App-devices-panel {
  text-align: center;
  color:white;
}

.App-devices-panel-heading-container {
  padding: 2.5em;
  background-color: black;
}

.App-devices-icons {
  margin: 0 40px 0 40px;
}

/* Font Awesome built-in style override */
.fa-5x {
  font-size: 2em;
}

.App-channel-tiers-panel {
  text-align: center;
}

@media only screen and (min-width: 768px) {

  .App-header-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
      image-set(url('../../assets/livingroomHero2.jpg')2x, url('../../assets/livingroomHero1.jpg')1x);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 80vh;
    min-height: 550px;
    color: white;
  }

  .App-header-copy {
    top: 50%;
  }

  .App-navbar {
    padding: 0.5rem 1rem;
  }

  .App-bars-container {
    display:none;
    position: absolute;
  }
  .App-header-title {
    font-size: 2.5em;
  }

  .App-title-hidden {
    display: block;
    position:relative;
  }

  .App-cable-provider-panel {
    padding: 4em 0 4em 0;
  }

  .App-cable-provider-heading-container {
    background-color: #9ab878;
    padding: 2.5em;
    border-radius: 6px;
  }

  .App-cable-provider-heading {
    font-size: 2.25em;
    color: white;
  }
}
